html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
	padding-left: 18px;
	padding-right: 18px;
	max-width: 600px;
	margin: 0 auto;
  overflow: hidden;
  background-color: #A9B5C1;
}

.intro__heading {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #2C2C2C;
  text-transform: uppercase;
  margin-top: 3rem;
}

.intro__heading h1 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}