html, body {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: 300;
}

.header__text-content  {
  color: white;
  text-align: center;
}

.header {
  background-image: url(img/coast.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 600px;
  margin: 30px auto;
  padding: 0 20px;
  color: #383838;
}

.content__heading {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.9rem;
  margin-bottom: 1.8rem;

}

.content__article {
  margin-bottom: 1.3rem;
}

